/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Main Twiddler styles
  ========================================
*/

body {
  text-align: center;
}

p {
  font-size: 14px;
  text-align: left;
  padding-left: 15px;
  padding-top: 20px;
}

header {
  font-size: 112px;
  color: #FEFEFE;
}

/*
  ========================================
  Page background
  ========================================
*/

.hero-image {
  background-image: url("https://images4.alphacoders.com/669/66956.jpg"); /* The image used */
  background-color: #393C95; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*
  ========================================
  Fonts
  ========================================
*/

.awesome-font {
 font-family: 'Lora', serif;
 color: white;
}

.general-font {
  font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 color: white;
}


/*
  ========================================
 Style for Tweets
  ========================================
*/

.bordered {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 400px;
  margin-left: 400px;

  padding-left: 10px;
  padding-right: 20px;
  padding-top: 30px;
  padding bottom: 10px;

  background-color: rgb(61, 103, 151, 0.7);
  border-top: 4px solid rgb(33, 41, 117, 0.8);
  border-right: 4px solid rgb(33, 41, 117, 0.8);
  border-left: 4px solid rgb(33, 41, 117, 0.8);
  border-bottom: 4px solid rgb(33, 41, 117, 0.8);

  font-size: 30px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
}

/*
  ========================================
 Button Style
  ========================================
*/

.btn {
  border-radius: 5px solid rgb(33, 41, 117, 0.8);
  display: inline-block;
  margin: 0;
  background-color: rgb(61, 103, 151, 0.7);
}
.btn-alt {
  font-size: 17px;
  border: 1px solid (33, 41, 117, 0.8);
  padding: 10px 30px;
}